<h2 id="title">Hello, {{model.firstName}} {{model.lastName}}!</h2>

<b>Edit profile</b>
{{dummy-form
    changeset=(changeset model (action "validate"))
    submit=(action "submit")
    rollback=(action "rollback")
}}

{{outlet}}
